<div class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Edit Game</li>
    </ol>
  </nav>
  <div class="page-content">

      <div class="col col-md-8">
        <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Title" class="form-control" formControlName="title">
            </mat-form-field>
            <ng-container *ngFor="let validation of validationMessages.title">
              <mat-error *ngIf="exampleForm.get('title').hasError(validation.type) && (exampleForm.get('title').dirty || exampleForm.get('title').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Type" class="form-control" formControlName="type">
            </mat-form-field>
            <ng-container *ngFor="let validation of validationMessages.type">
              <mat-error *ngIf="exampleForm.get('type').hasError(validation.type) && (exampleForm.get('type').dirty || exampleForm.get('type').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>
          
          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Number of players" class="form-control" formControlName="players">
            </mat-form-field>
            <ng-container *ngFor="let validation of validationMessages.players">
              <mat-error *ngIf="exampleForm.get('players').hasError(validation.players) && (exampleForm.get('players').dirty || exampleForm.get('players').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="category" class="form-control" formControlName="category">
            </mat-form-field>
            <ng-container *ngFor="let validation of validationMessages.category">
              <mat-error *ngIf="exampleForm.get('category').hasError(validation.category) && (exampleForm.get('category').dirty || exampleForm.get('category').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="description" class="form-control" formControlName="description">
            </mat-form-field>
            <ng-container *ngFor="let validation of validationMessages.description">
              <mat-error *ngIf="exampleForm.get('description').hasError(validation.description) && (exampleForm.get('description').dirty || exampleForm.get('description').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Notes" class="form-control" formControlName="notes">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Variations" class="form-control" formControlName="variations">
            </mat-form-field>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Save</button>
            </div>
            <div class="col-md-4">
              <button mat-raised-button class="delete-button" color="warn" type="button" (click)="delete()">Delete</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
