/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: stoutdeco;
    src: url(assets/fonts/StoutDeco.ttf) format("truetype");
  }
@font-face {
    font-family: merriweather;
    src: url(assets/fonts/Merriweather-Regular.ttf) format("truetype");
  }